{{#if comments}}
{{!-- comment-section --}}
<div class="comment-section mt-24 mb-7">
    <h3 class="text-center mb-10">
        <span>{{t "Leave a Comment"}}</span>
    </h3>
    {{comments title="Member discussion" mode="auto"}}
</div>
{{/if}}
